In [12]:
#!pip install splinter

In [13]:
from bs4 import BeautifulSoup
from splinter import Browser
from pprint import pprint
import pymongo
import pandas as pd
import requests

In [14]:
from webdriver_manager.chrome import ChromeDriverManager

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST driver version for 96.0.4664
There is no [mac64] chromedriver for browser 96.0.4664 in cache
Get LATEST driver version for 96.0.4664
Trying to download new driver from https://chromedriver.storage.googleapis.com/96.0.4664.45/chromedriver_mac64.zip
Driver has been saved in cache [/Users/stefanylima/.wdm/drivers/chromedriver/mac64/96.0.4664.45]

In [15]:
#executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
#browser = Browser('chrome', **executable_path, headless=False)

In [16]:
# URL of page to be scraped
url = ('https://mars.nasa.gov/news/')

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [17]:
#print(soup.prettify())

In [18]:
#collect the latest News Title and Paragraph Text
# pull titles and body from website
results = soup.find_all('div', class_="slide")
for result in results:
    titles = result.find('div', class_="content_title")
    title = titles.find('a').text
    bodies = result.find('div', class_="rollover_description")
    body = bodies.find('div', class_="rollover_description_inner").text
    print('----------------')
    print(title)
    print(body)

----------------

Team Behind NASA's Newest Mars Rover to Honor Persevering Students


Middle schoolers who have pushed past obstacles to reach their academic goals will be celebrated by the mission team with a personal message beamed down from NASA’s Perseverance rover.

----------------

NASA's Perseverance Sheds More Light on Jezero Crater's Watery Past


Pictures from NASA’s latest six-wheeler on the Red Planet suggest the area’s history experienced significant flooding events.

----------------

NASA's Perseverance Rover Collects Puzzle Pieces of Mars' History


The rocks it has analyzed for sample collection are helping the team better understand a past marked by volcanic activity and water.

----------------

NASA to Host Briefing on Successful Sample Collection of Martian Rock


Panelists will discuss the Perseverance rover’s successful collection of the sample and latest science analysis.

----------------

NASA's Perseverance Team Assessing First Mars Sampling Attempt


The rover continues to explore Jezero Crater while the team assesses today’s activities.

----------------

NASA Perseverance Mars Rover to Acquire First Sample


The six-wheeler’s science campaign has laid the groundwork for the mission’s next major milestone.

### JPL Mars Space Images

In [19]:
# URL of page to be scraped
url = ('https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars')

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [27]:
# pull images from website
# class isnt fancybox only?
images = soup.find_all('a', class_="fancybox-margin")
print(images)

[]

In [28]:
pic_src = []
for image in images:
    pic = image['data-fancybox-href']
    pic_src.append(pic)

featured_image_url = 'https://www.jpl.nasa.gov' + pic
featured_image_url

NameError: name 'pic' is not defined

### MArs Facts

In [30]:
mars_facts_url = "https://space-facts.com/mars/"
table = pd.read_html(mars_facts_url)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [32]:
#rename df
facts_df = table[0]
facts_df.columns = ["Facts", "Value"]
facts_df.set_index(["Facts"])
facts_df

                  Facts                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [33]:
#Use Pandas to convert the data to a HTML table string.
facts_html = facts_df.to_html()
facts_html = facts_html.replace("\n","")
facts_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Facts</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

### Mars Hemispheres